{% extends "templates/base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/templates/styles/cart_styles.css">
<link rel="stylesheet" type="text/css" href="/static/templates/styles/cart_responsive.css">
{% endblock header %}

{% block body %}
<!-- Cart -->
<div class="cart_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">Giỏ hàng</div>
					{% if instance.items.count > 0 %}
						<div class="cart_items">
							<ul class="cart_list">
								{% for item in instance.cart_item %}
									<li class="cart_item clearfix" id="li-cart-item-{{item.id}}">
										<div class="cart_item_image"><img src="{{item.product.default_image.image.url}}" alt=""></div>
										<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
											<div class="cart_item_name cart_info_col">
												<div class="cart_item_title">Name</div>
												<div class="cart_item_text">{{item.product.name}}</div>
											</div>
											<div class="cart_item_color cart_info_col">
												<div class="cart_item_title">Color</div>
												<div class="cart_item_text"><span style="background-color:{{item.color.html}};"></span>{{item.color.name}}</div>
											</div>
											<div class="cart_item_quantity cart_info_col">
												<div class="cart_item_title">Quantity</div>
												<div class="cart_item_text">{{item.quantity}}</div>
											</div>
											<div class="cart_item_price cart_info_col">
												<div class="cart_item_title">Price</div>
												<div class="cart_item_text">${{item.product.price_after_sale}}</div>
											</div>
											<div class="cart_item_total cart_info_col">
												<div class="cart_item_title">Total</div>
												<div class="cart_item_text">${{item.total}}</div>
											</div>
											<div class="cart_item_total cart_info_col">
												<div class="cart_item_title"></div>
												<div class="cart_item_text">
													<button data="{{item.id}}" class="btn btn-info btn-sm btn-delete-item">Xóa</button>
												</div>
											</div>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>

						<!-- Order Total -->
						<div class="order_total">
							<div class="order_total_content text-md-right">
								<div class="order_total_title">Tổng:</div>
								<div class="order_total_amount">${{instance.cart_price}}</div>
							</div>
						</div>

						<div class="cart_buttons">
							<button type="button" class="button cart_button_clear">Về trang chủ</button>
							<button type="button" class="button cart_button_checkout">Tiến hành thanh toán</button>
						</div>
					{% else %}
						<div class="cart_empty">
							<div class="d-flex flex-column justify-content-center">
								<img src="/static/templates/images/cart%20empty.png" class="img-fluid" alt="Responsive image"/>
								<a href="{% url 'home:index' %}" class="btn btn-outline-primary align-self-center"></a>
							</div>
						</div>
					{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block footer %}
<script src="/static/templates/js/cart_custom.js"></script>
<script>
	$(document).ready(function() {
		"use strict";

		$('.btn-delete-item').click(function(evt) {
			var cart_item_id = evt.target.getAttribute('data');
			var frmData = new FormData();
			frmData.append('cart_item_id',cart_item_id);
			$.ajax({ 
				url: "{% url 'cart:remove_item' %}",
				beforeSend: function(xhr, settings) {
					if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
						xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
					}
				},
				data : frmData,
				processData: false,
                contentType: false,
                type: 'POST',
				success: function(res){
					if(res.data == 'success'){
						$(`#li-cart-item-${cart_item_id}`).remove();
						if(res.cart_empty){
							window.location.reload();
						}
					}else if(res.data == 'error'){
						toastr.error(res.msg, 'Error!');
					}
				},
				error: function(err){
					console.error(err);
				}
			});
		})
	})
</script>
{% endblock footer %}
